body{
    background-color: #BAABDA;
    padding: 20px;
}

/* DEFAULT FONT 1 */

.header-font{
    text-decoration: none;
    color: black;
    font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Quicksand', sans-serif
}

/* DEFAULT FONT FOR BRAND */
.brand, .review-container{
    font-family: 'Inter', sans-serif;
    font-family: 'Quicksand', sans-serif;
}

/* NAVBAR SETTING */
.nav-bar{
    box-shadow: 0px 5px 10px gray;
    margin-bottom: 5pc;
}
.nav-items{
    display: flex;
    border: transparent;
    justify-content: space-evenly;
}
.nav-items li{
    list-style: none;
    text-decoration: none;
}
li a{
    text-decoration: none;
    color: black;
    font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Quicksand', sans-serif;
}

/* Titles */
.nav-bar-title{
    width: 50%;
    display: flex;
    justify-content: center;
    position: relative;
    left: 25%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid;
}

/* FONT-AWESOME-ICONS */
.user-image{
    font-size: 5pc;
}

/* DIV NEWS */
.main-body{
    padding-top: 3pc;
    display: grid;
    grid-template-columns: 50% 50%;
}
.anime-news-container{
    display: grid;
    grid-template-columns: 25% 25%;
    grid-template-rows: 100px;
    row-gap: 5pc;
}

.home-link{
    text-decoration: none;
    color: black;
}

.news-p{
    margin-top: 0;
}

.quick-reads{
    margin-top: 0;
    text-align: center;
}

/* NEW CONTAINER AND ITEMS  */
.ind-new-container{
    background-color: #EEEEEE;
    position: relative;
    left: 37px;
    width: 21pc;
    height: 10pc;
}
.ind-new-image{
    width: 200px;
    height: 160px;
}